@use '../utils' as *;

.available {
  @include flex(column);

  @include mq(lg) {
    flex-direction: row;
  }

  &__imageBox {
    position: relative;
    width: 15rem;
    height: 30rem;
    margin-bottom: 4rem;
    filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.3));

    @include mq(lg) {
      width: 30rem;
      height: 60rem;
      margin-bottom: 0;
      margin-right: 6rem;
    }

    img {
      object-fit: contain;
    }
  }

  &__text {
    &Form {
      &InputBox {
        height: 15rem;

        @include mq(lg) {
          height: 7rem;
        }

        input {
          border: none;
          outline: none;
          display: block;
          width: 100%;
          max-width: 30rem;
          height: 7rem;
          padding: 0 3rem;
          font-size: font-size(s);
          border-radius: border-radius(m);
          box-shadow: box-shadow(l);
          margin-bottom: 1rem;

          @include mq(lg) {
            display: initial;
            margin-bottom: 0;
            margin-right: 2rem;
          }
        }

        button {
          height: 7rem;

          @include pseudo(
            $top: 2rem,
            $left: 5%,
            $width: calc(90% - 7rem),
            $height: calc(100% - 7rem)
          ) {
            border: 3.5rem solid transparent;
            border-bottom: 3.5rem solid rgba(0, 0, 0, 0.07);
            border-radius: border-radius(m);
            filter: blur(1rem);
            z-index: -1;
          }
        }
      }
    }

    &Stores {
      display: flex;

      img {
        position: relative;
        width: 10rem;
        height: auto;
        border-radius: border-radius(s);
        margin-right: 2rem;

        @include mq(lg) {
          width: 18rem;
          border-radius: border-radius(m);
        }
      }
    }
  }
}
