@use '../utils' as *;

.footer {
  padding: 3rem;
  border-top: 0.1rem solid $gray-color;

  @include mq(lg) {
    padding: 8rem 12rem;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    @include mq(lg) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__column {
    ul {
      li {
        margin-top: 2rem;

        a {
          font-size: font-size(xs);
          color: $text-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      & + ul {
        display: flex;

        li {
          margin-right: 2rem;

          a {
            @extend %transition;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: 6rem;
    figure {
      position: relative;
      height: 4rem;
      @include flex(column, center, flex-start);

      @include mq(lg) {
        flex-direction: row;
        align-items: flex-end;
      }

      img {
        position: relative;
        width: auto;
        height: 100%;
      }

      figcaption {
        white-space: nowrap;
        margin-top: 1rem;
        font-size: font-size(xs);

        @include mq(lg) {
          margin-left: 1rem;
          margin-bottom: 0.6rem;
        }
      }
    }
  }
}
